/* Event box styling */
.calendar-event {
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px;
    border-radius: 3px;
    position: relative !important;
    z-index: 1 !important; /* Lower priority */
    pointer-events: auto !important;
    align-items: center;
    justify-content: center;
    height: 28px;
}

/* Right-click context menu */
.context-menu {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 999999 !important;
    display: none;
    opacity: 1
}

/* Show menu when active */
.context-menu.show {
    display: block !important;
}

/* Button inside context menu */
.context-menu button {
    background: #e00000;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    z-index: 100001;
}

.context-menu button:hover {
    background: #8a0113;
}